.bot-tooltip {
  padding: 5px;
  color: black;
  font-weight: bold;
  background-color: grey;
  border: 0px solid black;
  border-radius: 5px;
  text-align: right;
}

.bot-tooltip:hover {
  cursor: default;
}

.bot-button {
  background-color: #7289da;
}
