@media (min-width: 1024px) {
                .x ._mdpx_-fs-14 {
                    font-size:14px
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-d-block {
                    display:block
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-min-height-55 {
                    min-height:55px
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-d-none {
                    display:none
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-fs-16 {
                    font-size:16px
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-fs-25 {
                    font-size:25px
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx__CA_AS-ml-20px > * {
                    margin-left:20px
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx__CA__first-child-ml-0 > :first-child {
                    margin-left:0
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-d-inline {
                    display:inline
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-fs-10 {
                    font-size:10px
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-w-16px {
                    width:16px
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-d-initial {
                    display:initial
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-fs-16px {
                    font-size:16px
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-left-0px {
                    left:0px
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-fs-12 {
                    font-size:12px
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-fs-26 {
                    font-size:26px
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-d-flex {
                    display:flex
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-flex-basis-40P {
                    flex-basis:40%
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-max-width-40P {
                    max-width:40%
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-flex-basis-60P {
                    flex-basis:60%
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-max-width-60P {
                    max-width:60%
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-min-width-initial {
                    min-width:initial
                }
            }

            @media (min-width: 1024px) and (max-width: 1279px) {
                .x ._md-onlypx_-right-0px {
                    right:0px
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx__CA__first-child-ml-20px > :first-child {
                    margin-left:20px
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-w-984px {
                    width:984px
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-pr-65 {
                    padding-right:65px
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-bc-222 {
                    background-color:#222
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-min-width-0 {
                    min-width:0px
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-flex-direction-row {
                    flex-direction:row
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-justify-content-space-around {
                    justify-content:space-around
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx__CA_div_first-child-justify-content-flex-end > div:first-child {
                    justify-content:flex-end
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx__CA_div_first-child-pr-10px > div:first-child {
                    padding-right:10px
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx__CA_div_first-child-flex-shrink-1 > div:first-child {
                    flex-shrink:1
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx__CA_div_only-child-justify-content-center > div:only-child {
                    justify-content:center
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx__CA_div_only-child-text-align-center > div:only-child {
                    text-align:center
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx__CA_div_only-child-pl-0 > div:only-child {
                    padding-left:0px
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx__CA_div_only-child-pr-0 > div:only-child {
                    padding-right:0px
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx__CA_div_nth-child2-justify-content-flex-start > div:nth-child(2) {
                    justify-content:flex-start
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx__CA_div_nth-child2-pt-0 > div:nth-child(2) {
                    padding-top:0px
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx__CA_div_nth-child2-pl-10px > div:nth-child(2) {
                    padding-left:10px
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx__CA_div_nth-child2-flex-shrink-0 > div:nth-child(2) {
                    flex-shrink:0
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx__CA_div_nth-child2-max-width-50P > div:nth-child(2) {
                    max-width:50%
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-text-align-left {
                    text-align:left
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-fs-49 {
                    font-size:49px
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-flex-basis-66p66666666666666P {
                    flex-basis:66.66666666666666%
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-max-width-66p66666666666666P {
                    max-width:66.66666666666666%
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-order-0 {
                    order:0
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-flex-basis-33p33333333333333P {
                    flex-basis:33.33333333333333%
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-max-width-33p33333333333333P {
                    max-width:33.33333333333333%
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-order-1 {
                    order:1
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-mb-0 {
                    margin-bottom:0
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-flex-basis-0P {
                    flex-basis:0%
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-max-width-none {
                    max-width:none
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-text-align-right {
                    text-align:right
                }
            }

            @media (min-width: 1024px) {
                .x ._mdpx_-mt-0 {
                    margin-top:0
                }
            }