@import url('//fonts.googleapis.com/css?family=Roboto+Condensed:700');
.x {
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        margin: 0;
        box-sizing: border-box
}

.x *,
.x :after,
.x :before {
        box-sizing: inherit
}

.x-el-article,
.x-el-aside,
.x-el-details,
.x-el-figcaption,
.x-el-figure,
.x-el-footer,
.x-el-header,
.x-el-hgroup,
.x-el-main,
.x-el-menu,
.x-el-nav,
.x-el-section,
.x-el-summary {
        display: block
}

.x-el-audio,
.x-el-canvas,
.x-el-progress,
.x-el-video {
        display: inline-block;
        vertical-align: baseline
}

.x-el-audio:not([controls]) {
        display: none;
        height: 0
}

.x-el-template {
        display: none
}

.x-el-a {
        background-color: transparent;
        color: inherit
}

.x-el-a:active,
.x-el-a:hover {
        outline: 0
}

.x-el-abbr[title] {
        border-bottom: 1px dotted
}

.x-el-b,
.x-el-strong {
        font-weight: 700
}

.x-el-dfn {
        font-style: italic
}

.x-el-mark {
        background: #ff0;
        color: #000
}

.x-el-small {
        font-size: 80%
}

.x-el-sub,
.x-el-sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline
}

.x-el-sup {
        top: -.5em
}

.x-el-sub {
        bottom: -.25em
}

.x-el-img {
        vertical-align: middle;
        border: 0
}

.x-el-svg:not(:root) {
        overflow: hidden
}

.x-el-figure {
        margin: 0
}

.x-el-hr {
        box-sizing: content-box;
        height: 0
}

.x-el-pre {
        overflow: auto
}

.x-el-code,
.x-el-kbd,
.x-el-pre,
.x-el-samp {
        font-family: monospace, monospace;
        font-size: 1em
}

.x-el-button,
.x-el-input,
.x-el-optgroup,
.x-el-select,
.x-el-textarea {
        color: inherit;
        font: inherit;
        margin: 0
}

.x-el-button {
        overflow: visible
}

.x-el-button,
.x-el-select {
        text-transform: none
}

.x-el-button,
.x-el-input[type=button],
.x-el-input[type=reset],
.x-el-input[type=submit] {
        -webkit-appearance: button;
        cursor: pointer
}

.x-el-button[disabled],
.x-el-input[disabled] {
        cursor: default
}

.x-el-button::-moz-focus-inner,
.x-el-input::-moz-focus-inner {
        border: 0;
        padding: 0
}

.x-el-input {
        line-height: normal
}

.x-el-input[type=checkbox],
.x-el-input[type=radio] {
        box-sizing: border-box;
        padding: 0
}

.x-el-input[type=number]::-webkit-inner-spin-button,
.x-el-input[type=number]::-webkit-outer-spin-button {
        height: auto
}

.x-el-input[type=search] {
        -webkit-appearance: textfield;
        box-sizing: content-box
}

.x-el-input[type=search]::-webkit-search-cancel-button,
.x-el-input[type=search]::-webkit-search-decoration {
        -webkit-appearance: none
}

.x-el-textarea {
        border: 0
}

.x-el-fieldset {
        border: 1px solid silver;
        margin: 0 2px;
        padding: .35em .625em .75em
}

.x-el-legend {
        border: 0;
        padding: 0
}

.x-el-textarea {
        overflow: auto
}

.x-el-optgroup {
        font-weight: 700
}

.x-el-table {
        border-collapse: collapse;
        border-spacing: 0
}

.x-el-td,
.x-el-th {
        padding: 0
}

.x {
        -webkit-font-smoothing: antialiased
}

.x-el-hr {
        border: 0
}

.x-el-fieldset,
.x-el-input,
.x-el-select,
.x-el-textarea {
        margin-top: 0;
        margin-bottom: 0
}

.x-el-fieldset,
.x-el-input[type=email],
.x-el-input[type=text],
.x-el-textarea {
        width: 100%
}

.x-el-input,
.x-el-label {
        vertical-align: middle
}

.x-el-input {
        border-style: none;
        padding: .5em
}

.x-el-select:not([multiple]) {
        vertical-align: middle
}

.x-el-textarea {
        line-height: 1.75;
        padding: .5em
}

@keyframes a {
        0% {
                transform: scale(1);
                opacity: 1
        }
        45% {
                transform: scale(.1);
                opacity: .7
        }
        80% {
                transform: scale(1);
                opacity: 1
        }
}

.x-loader svg {
        display: inline-block
}

.x-loader svg:first-child {
        animation: a .75s -.24s infinite cubic-bezier(.2, .68, .18, 1.08)
}

.x-loader svg:nth-child(2) {
        animation: a .75s -.12s infinite cubic-bezier(.2, .68, .18, 1.08)
}

.x-loader svg:nth-child(3) {
        animation: a .75s 0s infinite cubic-bezier(.2, .68, .18, 1.08)
}

.x-icon>svg {
        transition: transform .33s ease-in-out
}

.x-icon>svg.rotate-90 {
        transform: rotate(-90deg)
}

.x-icon>svg.rotate90 {
        transform: rotate(90deg)
}

.x-icon>svg.rotate-180 {
        transform: rotate(-180deg)
}

.x-icon>svg.rotate180 {
        transform: rotate(180deg)
}

.x-rt:after {
        content: "";
        clear: both
}

.x-rt ol,
.x-rt ul {
        text-align: left
}

.x-rt p {
        margin: 0
}

.x-rt br {
        clear: both
}

.carousel {
        text-align: center;
        opacity: 0;
        transition: opacity .5s
}

.carousel,
.carousel .carousel-container-inner {
        position: relative;
        margin: 0 auto
}

.carousel .carousel-viewport {
        overflow: hidden;
        white-space: nowrap;
        text-align: left
}

.carousel .carousel-arrow {
        position: absolute;
        z-index: 1;
        color: #fff;
        border: 3px solid;
        border-radius: 50%;
        bottom: 23px;
        height: 32px;
        width: 32px;
        font-weight: 900;
        background: rgba(0, 0, 0, .15);
        padding: 0;
        cursor: pointer
}

.carousel .carousel-arrow:focus {
        outline: none
}

.carousel .carousel-arrow:before {
        font-size: 19px;
        display: block;
        margin-top: -2px
}

.carousel .carousel-arrow:disabled {
        cursor: not-allowed;
        opacity: .5
}

.carousel .carousel-left-arrow {
        left: 23px
}

.carousel .carousel-left-arrow:before {
        content: "<";
        padding-right: 2px
}

.carousel .carousel-right-arrow {
        right: 23px
}

.carousel .carousel-right-arrow:before {
        content: ">";
        padding-left: 2px
}

.carousel .carousel-track {
        list-style: none;
        padding: 0;
        margin: 0;
        -ms-touch-action: pan-y pinch-zoom;
        touch-action: pan-y pinch-zoom
}

.carousel .carousel-track .carousel-slide {
        display: inline-block;
        opacity: .7;
        transition: opacity .5s ease-in-out;
        white-space: normal
}

.carousel .carousel-track .carousel-slide>* {
        display: block
}

.carousel .carousel-track .carousel-slide.carousel-slide-loading {
        background: hsla(0, 0%, 80%, .7)
}

.carousel .carousel-track .carousel-slide.carousel-slide-fade {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0
}

.carousel .carousel-track .carousel-slide.carousel-slide-selected {
        opacity: 1;
        z-index: 1
}

.carousel.loaded {
        opacity: 1
}

.carousel .carousel-dots {
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -30px;
        text-align: center
}

.carousel .carousel-dots li {
        display: inline-block
}

.carousel .carousel-dots button {
        border: 0;
        background: transparent;
        font-size: 1.1em;
        cursor: pointer;
        color: #ccc;
        padding-left: 6px;
        padding-right: 6px
}

.carousel .carousel-dots button.selected {
        color: #000
}

.carousel .carousel-dots button:focus {
        outline: none
}