@media (min-width: 1280px) {
        .x ._lgpx_-fs-14 {
                font-size: 14px
        }
}

@media (min-width: 1280px) {
        .x ._lgpx_-fs-16 {
                font-size: 16px
        }
}

@media (min-width: 1280px) {
        .x ._lgpx_-fs-22 {
                font-size: 22px
        }
}

@media (min-width: 1280px) {
        .x ._lgpx_-fs-10 {
                font-size: 10px
        }
}

@media (min-width: 1280px) {
        .x ._lgpx_-fs-12 {
                font-size: 12px
        }
}

@media (min-width: 1280px) {
        .x ._lgpx_-fs-28 {
                font-size: 28px
        }
}

@media (min-width: 1280px) {
        .x ._lgpx_-w-1160px {
                width: 1160px
        }
}

@media (min-width: 1280px) {
        .x ._lgpx_-fs-54 {
                font-size: 54px
        }
}